<form method="POST">
    Write your answer:
    <input type="text" name="answer" value="{{answer}}"  /><br />
    Date:
    <input type="date" name="date" value="{{date}}" /><br />
   
    <input type="submit" value="Save" />
</form>