


<div class="container">
    <h2>All Threads of {{user.username}}</h2>
</div>

{{#each thread}}
    <div class="container-fluid">
        <div class="jumbotron">
            <h2>Title:</h2>
                {{title}}
            <h2>Description</h2>
                {{description}}
                <hr />
            <h2>Author Comments:</h2>
            {{#each answers}}
                {{answer}}
            {{/each}}    

        </div>
    </div>
{{/each}}